<form class="form-signin" method="POST" action="#" role="form">
  <div class="form-group">
      <h2>Create account</h2>
  </div>
  <div *ngIf="errorMessage!=null" class="alert alert-danger">
      {{ errorMessage }}
  </div>
  <div class="form-group">
      <label class="control-label" for="signupName">Name</label>
      <input id="signupName" type="text" maxlength="50" class="form-control"
             [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
      <label class="control-label" for="signupEmail">Email</label>
      <input id="signupEmail" type="email" maxlength="50" class="form-control"
             [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
      <label class="control-label" for="signupPassword">Password</label>
      <input id="signupPassword" type="password" maxlength="25" class="form-control"
             placeholder="at least 8 characters" length="40" [(ngModel)]="registrationUser.password"
             [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
      <button (click)="onRegister()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
          Create your account
      </button>
  </div>
  <hr>
  <p>Already have an account? <a [routerLink]="['/home/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
</form>




<!-- <div class="">   

    <h1>Sign Up</h1>   
    <form>
        <div class="top-row">
          <div class="field-wrap">
            <label>
              First Name<span class="req">*</span>
            </label>
            <input type="text" name="firstname" required [(ngModel)]="user.firstname"/>
          </div>
      
          <div class="field-wrap">
            <label>
              Last Name<span class="req">*</span>
            </label>
            <input type="text" required name="lastname" [(ngModel)]="user.lastname" />
          </div>
        </div>

        <div class="field-wrap">
          <label>
            Email Address<span class="req">*</span>
          </label>
          <input type="email"required name="email" [(ngModel)]="user.email" />
        </div>
        
        <div class="field-wrap">
          <label>
            Set A Password<span class="req">*</span>
          </label>
          <input type="password" required name="password" [(ngModel)]="user.password" />
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="userType" id="userType1" [value]="1" checked [(ngModel)]="user.userType">
                I am a content creator
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="userType" id="userType2" [value]="2" [(ngModel)]="user.userType">
                I am a content responder
            </label>
        </div>
        <button type="submit" class="button button-block" (click)="getSignUpdata(user)">Get Started</button>    
        <button type="submit" class="button button-block" (click)="onRegister()">Get Started</button>    
      </form>
    
</div>  -->